/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #d3cece;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#5E0505,#fd0000);
    height: 15vw;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    color: #fff;
    font-size: 4vw;
    font-weight: 500; 
    letter-spacing: 0.5px;
  }


  .container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


    .bloc {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      background: #d3cece;
      padding: 1vh;
      margin: 1vh;
      
    }

    .bloc > .numbers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width:40%;
     }

        .numbers > #days, #hours, #minutes, #seconds{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20vw;
          height: 20vw;
          background: #fff;
          border-radius: 10%;
          font-size: 6vw;
          box-shadow : 0px 3px 3px 1px grey;

          }

    .bloc > .paragraphe{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 60%;
      font-size: 4vh;
      margin-left: 2vw;
    }


footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  height: 15vw;
/*  padding-top: 2vh;*/
  padding-right: 5vh;
  padding-left: 5vh;
  background: linear-gradient(#fd0000,#5E0505);
  text-transform: capitalize;
  font-size: 1.5vw;
  color: #fff;
  letter-spacing: 0.5px;
  /*padding: 2px;*/
  /*margin-top: 5%;*/
}

footer > img{
  width: 7vh;
  height: 7vh;
 
}


/*Responsive Desktop */

@media screen and (min-width: 1281px) {

header, footer {
  height: 17vh;
  }

footer {
  font-size: 15px;
  }


.container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.container > .bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

       .bloc > .numbers {
                width:100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                } 

.numbers > #days, #hours, #minutes, #seconds{
  margin-left: 0px;
  font-size: 10vh;
  width: 15vw;
  height: 15vw;
                            }

            .bloc > .paragraphe{
              display: flex;
              justify-content: center;
              padding-top: 5vh;
              width: 100%;
              font-size: 6vh;
            }

}


/* Responsives Laptop, Desktop*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {


.container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

    .bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;}

        .bloc > .numbers {
              width:100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
            } 

      .numbers > #days, #hours, #minutes, #seconds{
        margin-left: 0px;
        font-size: 10vh;
              width: 20vh;
              height: 20vh;}

        .bloc > .paragraphe{
          display: flex;
          justify-content: center;
          padding: 15px;
          padding-top: 30px;
          width: 100%;
        }



}

/*Responsives Tablets Ipads paysages*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  

  .container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloc > .numbers {
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
} 

.numbers > #days, #hours, #minutes, #seconds{
margin-left: 0px;
font-size: 10vh;
width: 20vh;
height: 20vh;

}

.bloc > .paragraphe{
  display: flex;
  justify-content: center;
  /*padding: 15px;*/
  padding-top: 30px;
  /*width: 100%;*/
}


 
}

@media screen and (min-device-width : 375px)  and (max-device-width : 667px) and (orientation : landscape){

  .container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloc > .numbers {
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
} 

.numbers > #days, #hours, #minutes, #seconds{
margin-left: 0px;
font-size: 10vh;
width: 20vh;
height: 20vh;

}

.bloc > .paragraphe{
  display: flex;
  justify-content: center;
  /*padding: 15px;*/
  padding-top: 30px;
  /*width: 100%;*/
}
}





